# Data Exploration #
This file explores the different data sources

In [2]:
# load the data paths
from Core import SetUp as SU
import pandas as pd
paths = SU.collect_paths()
print(paths)

{'Input': WindowsPath('C:/Users/cwasilewsky/Google Drive/WORK/Post-Graduate/Capstone/Code/Input'), 'Output': WindowsPath('C:/Users/cwasilewsky/Google Drive/WORK/Post-Graduate/Capstone/Code/Output'), 'Source_Data': WindowsPath('C:/Users/cwasilewsky/Google Drive/WORK/Post-Graduate/Capstone/Data'), 'Base': WindowsPath('C:/Users/cwasilewsky/Google Drive/WORK/Post-Graduate/Capstone/Code')}

In [14]:
# load data sets
WestpacDf = pd.read_csv(paths['Source_Data'] / 'Westpac' / 'transactions.csv')
KaggleNoCatDf = pd.read_csv(paths['Source_Data'] / 'Kaggle' / '1BTransactionNoCategory.csv')
KaggleCatDf = pd.read_csv(paths['Source_Data'] / 'Kaggle' / 'TransactionsWithCategory.csv')

print('\n\nWestpac Data\n',WestpacDf.columns)
print('\n\nKaggleNoCat Data\n',KaggleNoCatDf.columns)
print('\n\nKaggleCat Data\n',KaggleCatDf.columns)

Westpac Data
 Index(['Acct_key', 'Tran_group_code', 'Tran_type_code', 'Funds_type_code',
       'Delivery_method', 'Location_desc', 'Date', 'Tran_amt'],
      dtype='object')


KaggleNoCat Data
 Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')


KaggleCat Data
 Index(['step', 'customer', 'age', 'gender', 'zipcodeOri', 'merchant',
       'zipMerchant', 'category', 'amount', 'fraud'],
      dtype='object')

In [7]:
WestpacDf.describe(include='all')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Acct_key</th>
      <th>Tran_group_code</th>
      <th>Tran_type_code</th>
      <th>Funds_type_code</th>
      <th>Delivery_method</th>
      <th>Location_desc</th>
      <th>Date</th>
      <th>Tran_amt</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>199645</td>
      <td>199645</td>
      <td>199645</td>
      <td>199645</td>
      <td>199645</td>
      <td>199645</td>
      <td>199645</td>
      <td>199645.000000</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>1100</td>
      <td>5</td>
      <td>13</td>
      <td>4</td>
      <td>9</td>
      <td>39429</td>
      <td>771</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>top</th>
      <td>SCRAC6PSTSJRQQ3</td>
      <td>W</td>
      <td>WPU</td>
      <td>E</td>
      <td>M</td>
      <td>INTEREST CHARGES - PURCH</td>
      <td>7/06/2014</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>1471</td>
      <td>133641</td>
      <td>127299</td>
      <td>192777</td>
      <td>106291</td>
      <td>12565</td>
      <td>471</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>-11.097932</td>
    </tr>
    <tr>
      <th>std</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>590.380392</td>
    </tr>
    <tr>
      <th>min</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>-29408.140000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>-66.850000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>-24.520000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>-3.250000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>34297.110000</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
KaggleNoCatDf.describe(include='all')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>step</th>
      <th>type</th>
      <th>amount</th>
      <th>nameOrig</th>
      <th>oldbalanceOrg</th>
      <th>newbalanceOrig</th>
      <th>nameDest</th>
      <th>oldbalanceDest</th>
      <th>newbalanceDest</th>
      <th>isFraud</th>
      <th>isFlaggedFraud</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>6.362620e+06</td>
      <td>6362620</td>
      <td>6.362620e+06</td>
      <td>6362620</td>
      <td>6.362620e+06</td>
      <td>6.362620e+06</td>
      <td>6362620</td>
      <td>6.362620e+06</td>
      <td>6.362620e+06</td>
      <td>6.362620e+06</td>
      <td>6.362620e+06</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>NaN</td>
      <td>5</td>
      <td>NaN</td>
      <td>6353307</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>2722362</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>top</th>
      <td>NaN</td>
      <td>CASH_OUT</td>
      <td>NaN</td>
      <td>C1902386530</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>C1286084959</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>NaN</td>
      <td>2237500</td>
      <td>NaN</td>
      <td>3</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>113</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2.433972e+02</td>
      <td>NaN</td>
      <td>1.798619e+05</td>
      <td>NaN</td>
      <td>8.338831e+05</td>
      <td>8.551137e+05</td>
      <td>NaN</td>
      <td>1.100702e+06</td>
      <td>1.224996e+06</td>
      <td>1.290820e-03</td>
      <td>2.514687e-06</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.423320e+02</td>
      <td>NaN</td>
      <td>6.038582e+05</td>
      <td>NaN</td>
      <td>2.888243e+06</td>
      <td>2.924049e+06</td>
      <td>NaN</td>
      <td>3.399180e+06</td>
      <td>3.674129e+06</td>
      <td>3.590480e-02</td>
      <td>1.585775e-03</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000e+00</td>
      <td>NaN</td>
      <td>0.000000e+00</td>
      <td>NaN</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>NaN</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.560000e+02</td>
      <td>NaN</td>
      <td>1.338957e+04</td>
      <td>NaN</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>NaN</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2.390000e+02</td>
      <td>NaN</td>
      <td>7.487194e+04</td>
      <td>NaN</td>
      <td>1.420800e+04</td>
      <td>0.000000e+00</td>
      <td>NaN</td>
      <td>1.327057e+05</td>
      <td>2.146614e+05</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3.350000e+02</td>
      <td>NaN</td>
      <td>2.087215e+05</td>
      <td>NaN</td>
      <td>1.073152e+05</td>
      <td>1.442584e+05</td>
      <td>NaN</td>
      <td>9.430367e+05</td>
      <td>1.111909e+06</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>max</th>
      <td>7.430000e+02</td>
      <td>NaN</td>
      <td>9.244552e+07</td>
      <td>NaN</td>
      <td>5.958504e+07</td>
      <td>4.958504e+07</td>
      <td>NaN</td>
      <td>3.560159e+08</td>
      <td>3.561793e+08</td>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
KaggleCatDf.describe(include='all')

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>step</th>
      <th>customer</th>
      <th>age</th>
      <th>gender</th>
      <th>zipcodeOri</th>
      <th>merchant</th>
      <th>zipMerchant</th>
      <th>category</th>
      <th>amount</th>
      <th>fraud</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>594643.000000</td>
      <td>594643</td>
      <td>594643</td>
      <td>594643</td>
      <td>594643</td>
      <td>594643</td>
      <td>594643</td>
      <td>594643</td>
      <td>594643.000000</td>
      <td>594643.000000</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>NaN</td>
      <td>4112</td>
      <td>8</td>
      <td>4</td>
      <td>1</td>
      <td>50</td>
      <td>1</td>
      <td>15</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>top</th>
      <td>NaN</td>
      <td>'C1978250683'</td>
      <td>'2'</td>
      <td>'F'</td>
      <td>'28007'</td>
      <td>'M1823072687'</td>
      <td>'28007'</td>
      <td>'es_transportation'</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>NaN</td>
      <td>265</td>
      <td>187310</td>
      <td>324565</td>
      <td>594643</td>
      <td>299693</td>
      <td>594643</td>
      <td>505119</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>94.986827</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>37.890135</td>
      <td>0.012108</td>
    </tr>
    <tr>
      <th>std</th>
      <td>51.053632</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>111.402831</td>
      <td>0.109369</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>52.000000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>13.740000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>97.000000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>26.900000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>139.000000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>42.540000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>179.000000</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8329.960000</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>